PROVIDERS=CPUExecutionProvider
DET_CONF=0.42
EMBED_DIM=512


DET_SCORE_MIN=0.42
MIN_DIVERSITY=0.87
SHARP_MIN=25
AREA_MIN=0.05
AREA_MAX=0.78
CENTER_TOL=0.28


BURST_TARGET=28
BURST_KEEP=12
ENROLL_ACCEPT=0.70
BURST_MAX_MS=8000


SIM_THRESHOLD=0.52
TOPK=8


FACE_CROP_SCALE=1.35


HOST=0.0.0.0
PORT=7860


QDRANT_URL=https://ea3feff1-1b19-44d0-932f-95bd9d242f71.eu-west-2-0.aws.cloud.qdrant.io
QDRANT_API_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJhY2Nlc3MiOiJtIiwic3ViamVjdCI6ImFwaS1rZXk6ZGYzYWY3ZTMtNzAwMy00ZWI5LWI3YmItMDA0NjMyNzA5MDdjIn0.uGogEqtZnnMNoJjJogJaWgHE-nVE5Ag6J_RF-RlQ0RM